In [11]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import col,avg
import psycopg2

In [12]:
spark = SparkSession.builder\
.appName('Pyspark_PostgreSQL_project')\
.config('spark.jars','/home/krish/postgresql-42.7.5.jar')\
.getOrCreate()

In [13]:
pg_url = 'jdbc:postgresql://localhost:5432/employee_salary_analysis'
pg_properties={
    'user':'postgres',
    'password':'pgroot',
    'driver':'org.postgresql.Driver'
}

In [14]:
df =spark.read.jdbc(url=pg_url,table='employee_salary',properties=pg_properties)

In [15]:
df

DataFrame[emp_id: int, emp_name: string, department: string, salary: double, join_date: date]

In [16]:
transformed_df=df.filter(col('salary')>70000)\
.groupby('department')\
.agg(avg('salary').alias('avg_salary'))

In [8]:
transformed_df.write.jdbc(url=pg_url,table='salary_analysis',mode='overwrite',properties=pg_properties)

In [17]:
transformed_df.show()

+-----------+----------+
| department|avg_salary|
+-----------+----------+
|Engineering|  105000.0|
|  Marketing|   75000.0|
+-----------+----------+

In [18]:
spark.stop()